.indiv,.weight_indiv{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}

.france,.france_weight,.france_len_vol{
    border-right: 1px solid #ccc;
    padding-right: 2rem;
}
.spain,.spain_weight,.spain_len_vol{
    margin-left: 2rem;
}


.weight_france_unit,.weight_spain_unit{
    width: 10px;
    margin-right: 1rem;
}

.germany_weight_unit{
    width: 10px;
    margin-right: 1rem;
}

.france_price,.spain_price,.france_deliv_price,.spain_deliv_price{
    width: 50px;
}

.len_unit{
    width: 20px;
}

.L_input{
    width: 40px;
}

.france,.spain{
    display:flex;

}
.info_box_left{
    border-right: 2px solid red;
}
.info_box_right{
    border-left:2px solid red;
}


.deliv_span{
}

.simple_div{
    margin-top: 2rem;
    border:1px solid #40ff36;
}

.simple_selectBox{
    display:block;
    width: 300px;
    height: 50px;
    border:1px solid #ccc;
    margin:1rem auto;
    font-size: 1.2rem;
    text-align: center;

}

.simple_vol_div{

}

.australia_price{
    
}

.simple_display{
    display:none;
}
    
.simple_price{
    width: 60px;
    margin-right: 3rem;
}   
.china_input_price{
    width: 60px;
}
.simple_price_left{
    margin-right: 3rem;
}
.simple_center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.simple_center::after{
    content: '';
    display:block;
    clear:both;
}
.simple_center_ger{
    display:flex;
    justify-content: center;
    align-items: center;
}

.simple_center_ger::after{
    content: '';
    display:block;
    clear:both;
}

.in_deliv_price,.pro_num{
    width: 30px;
}

#small_txt, .simple_price_left{
    font-size: 0.8rem;
}

.input_gr_po>.input_gram{
    width: 10px;
}

.weight_change{
    margin-bottom: 3rem;
}

.input_ger_price_origin{
    margin-left: 2rem;
}

.input_ger_calc_price{
    margin-top: 1rem;
}

.border_right{
    border:2px solid #ccc;
}
.china_input{

}
.simple_china_input{
}

.china_input_left{
    float:left;
    margin-right: 0;
}

.china_input_right{
    float:right;
    margin-left: 1rem;
}

.china_input{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2rem 0 0 0;
}

.china_input::after{
    content: '';
    display:block;
    clear:both;
}

.china_div{
    margin-top: 1rem;
    border:1px solid red;
}